{% extends 'chat/base.html' %} {% block content %}
<br />
<style>
  .msg {
    background: #d3d8e4;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    word-break: break-all;
  }
  .msg .user {
    font-size: 14px;
    margin: 0 0 2px 0;
    color: #666;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
    -webkit-touch-callout: none;
  }
  .msg p {
    font-size: 13px;
    margin: 0 0 2px 0;
    color: #777;
    transition: all 0.2s ease;
  }
  .msg time {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.35);
    margin-top: 1px;
    float: right;
    cursor: default;
  }
  .other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
  }
</style>
<div
  id="chat-log"
  style="
    background-color: whitesmoke;
    color: #1b2430;
    width: 90%;
    height: 500px;
    margin-left: 1%;
    padding: 3%;
    overflow-y: scroll;
  "
>
  <!-- { to load the previous massage of the selected room from database } -->

  {% for message in messages %} {% if message.sender_user == user %}
  <div class="msg" style="float: right">
    <div class="user">{{message.sender_user}}</div>
    <p>{{message.massage}}</p>
    <time>{{message.timestamp.time}}</time>
  </div>

  {% else %}
  <div class="msg" style="float: left">
    <div class="user">{{message.sender_user}}</div>
    <p>{{message.massage}}</p>
    <time>{{message.timestamp.time}}</time>
  </div>
  {% endif %}
  <br /><br />
  <br /><br />
  <br /><br />

  {% endfor %}
</div>
<div style="margin-left: 1%; padding: 1%">
  <input
    id="chat-message-input"
    type="text"
    size="60"
    style="width: 22%"
  />&nbsp;
  <input
    id="chat-message-submit"
    type="button"
    value="Send"
    style="width: 13%; color: white; background-color: #1b2430"
  />
</div>

{{ room_name|json_script:"room-name" }}
<script>
  // {# setting variables to display on the chat log #)
  var sender = "{{ sender_id }}";
  var receiver = "{{ receiver_id }}";
  var sender_name = "{{ sender_name }}";
  var user = "{{ user }}";

  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  //   {# setting the websocket route as per the selected room nane#}

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log("data", data, sender_name, user);

    // {# to enhance the chat log #)
    if (data.sender_name === user) {
      $("#chat-log").append(
        "<div class='msg' style='float: right'>" +
          "<div class='user'>" +
          data.sender_name +
          "</div> " +
          "<p>" +
          data.message +
          "</p>" +
          "<time>" +
          data.time +
          "</time>" +
          "</div>"
      );
    } else {
      $("#chat-log").append(
        "<div class='msg' style='float: left'>" +
          "<div class='user'>" +
          data.sender_name +
          "</div> " +
          "<p>" +
          data.message +
          "</p>" +
          "<time>" +
          data.time +
          "</time>" +
          "</div><br /><br /><br /><br /><br /><br />"
      );
    }
    $("#chat-log").scrollTop($("#chat-log")[0].scrolHeight);
  };
  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keycode == 13) {
      // enter, return

      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
        sender: sender,
        receiver: receiver,
        sender_name: sender_name,
      })
    );
    messageInputDom.value = "";
  };
</script>

{% endblock %}
